.box{
    width: 100%;
    display: table;
    height: 60vh;
    text-align: center;
    font-size: 20px;
}
.notfound{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
i{
    color: red;
    font-size: 100px;
    text-shadow: 3px 3px rgba(128, 128, 128, 0.8);
}