header {
    overflow: hidden;
    // height: 100px;
    h1{
        float: left;
        width: 40%;
        height: inherit;
    }
    nav{
        float: left;
        width: 60%;
        height: inherit;
        ul{
            padding-left: 0;
            list-style: none;
            li{
                float: left;
                margin: 15px;
                a{
                    color: grey;
                    text-decoration: none;
                }
                a:hover {
                    color: black;
                }
            }
        }
    }
}
