section{
    padding: 20px;
    .punch_line{
        padding: 20px;
        border: 2px dashed black;
        border-radius: 20px;
        text-align: center;
        font-size: 25px;
    }
}
.logos{
    margin-top: 80px;
    p{
        span{
            color: red;
        }
        font-size: 20px;
    }
    .services{
        margin-top: 80px;
        display: flex;
        i{
            line-height: 250px;
            flex: 1;
            padding: 20px;
            font-size: 35px;
            color: red;
            width: 40%;
        }
        p{
            line-height: 250px;
            font-size: 25px;
            flex: 2;
            padding-left: 10px;
            color: black;
            width: 40%;
        }
        img{
            border: 2px solid grey;
            border-radius: 50px;
            flex: 7;
            width: 40%;
        }
    }
}