body {
  padding: 0;
  margin: auto;
  width: 80%;
  font-family: "Padauk", sans-serif;
  a, a:active, a:focus{
    outline: none;
  }
}
hr{
  color: grey;
  height: 1px;
}
a{
  color: grey;
  text-decoration: none;
}
a:hover {
  color: black;
}
