.counters {
  margin: auto;
  width: 80%;
  margin-top: 40px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .counter {
    border-radius: 20px;
    box-shadow: 0.25px 2px 2px grey;
    span {
      display: block;
    }
  }
}

.slide {
  display: flex;
  margin-top: 40px;
  .arrowback {
    text-align: center;
    flex: 1;
    i {
      position: relative;
      font-size: 30px;
      top: 50%;
    }
    i:hover {
      text-shadow: 2px 2px white;
    }
    i:active {
      color: grey;
    }
  }
  .img {
    flex: 8;
    height: 500px;
    img {
      border: 2px solid black;
      border-radius: 20px;
      width: 80%;
      display: block;
      height: 400px;
      margin: auto;
    }
    p{
        margin: auto;
        margin-top: 40px;
        width: 80%;
    }
  }
  .arrowforward {
    text-align: center;
    flex: 1;
    i {
      position: relative;
      font-size: 30px;
      top: 50%;
    }
    i:hover {
      text-shadow: 2px 2px white;
    }
  }
}
